* {
    box-sizing: border-box;
    font-family: "Noto Sans Batak", "sans-serif";
}

body {
    background-color: #000000;
    margin: 0;
}

header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
}

#title {
    font-size: 20px;
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
}

.search {
    background-color: white;
    border-radius: 30px;
    font-size: 1rem;
    padding: 0.6rem 2rem;
    color: black;
    cursor: auto;
}

#searchButton {
    background-color: transparent;
    border-radius: 50px;
    border: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.film {
    width: 300px;
    margin: 1rem;
    background-color: #a91209;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    cursor: pointer;
}

.film img {
    width: 100%;
}

.film-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.film-info h3 {
    margin-top: 0;
}

.rating {
    font-size: 1.5rem;
    color: gold;
}

.details {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
}

.details > h3 {
    color: orangered;
}

.film:hover .details {
    transform: translateY(0);
}

.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    background-color: #22254b;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #5257a3;
}

.pagination button.active {
    background-color: #5257a3;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .search {
        width: 80%;
        margin-bottom: 1rem;
    }

    .film {
        width: 90%;
        margin: 0.5rem;
    }
}

@media (max-width: 480px) {
    .film {
        width: 100%;
        margin: 0.5rem 0;
    }

    .film-info h3 {
        font-size: 1rem;
    }

    .rating {
        font-size: 1.2rem;
    }

    .details {
        padding: 1rem;
    }
}
